html, body {
    overflow-y: auto;
}

.button-red {
    padding: 0 12px;           /* Horizontal padding for the button */
    height: 40px;              /* Match button height with input fields */
    background-color: #ffffff00; /* Button background color */
    color: white;              /* Button text color */
    border: none;              /* Remove border */
    border-radius: 4px;        /* Rounded corners */
    cursor: pointer;           /* Change cursor on hover */
}


button:hover {
    background-color: #3a6cd9; /* Darken button on hover */
}