.navbar {
    height: 75px;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(76, 133, 255);
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
  }
  
  .nav-link {
    float:none;
    border-right: 1px solid #bbb;
  }
  
  .nav-link .nav-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-link .nav-a:hover {
    background-color: red;
  }
  
  .nav-link:last-child {
    border-right: none;
  }

  /* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 40px;
  background-color: #0288d1;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.navbar .nav-link {
  list-style: none;
}

.navbar .nav-a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar .nav-a:hover,
.navbar .nav-a.active {
  background-color: #0277bd;
}
